body {
    margin: 8px;
}

#tools {
    margin: 0 0 8px 0;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

#status .material-icons {
    font-size: 12pt !important;
    color: transparent;
    text-shadow: 0 0 2px rgba(170, 170, 170, 0.8);
}
